<main>
  <div class="container">
    <div class="row full-screen center">
      <div class="col-4 margin__auto">
        <h1 class="secondary-font">Just a curious web developer.</h1>
        <search-bar
          [placeholder]="'Just a curious web developer.'"
        ></search-bar>
        <search-suggestions></search-suggestions>
        <button-3d
          [text]="'Know more?'"
          (onClick)="openAssistant()"
        ></button-3d>
      </div>
      <div class="col-8 margin__auto">
        <img
          src="assets/images/charco/welcome.png"
          alt="Welcome"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="name-wrapper">
      <h1 class="name"></h1>
    </div>
  </div>
</main>
