:root {
  --pale-peach: #fff1e9;
  --pale-purple: #9886fb;
  --pale-pink: #ff7be3;
  --pale-green: #d9fff1;
  --pale-blue: #eeecfb;
  --pale-teal: #b4efd6;
}

:root {
  --default-color: white;
  --content-color: #ffffff9c;
  --placeholder-color: #e8e8e8;
}
